---
layout: default
title: Home
---

<div class="home">
  <h1>Welcome to {{ site.title }}</h1>
  
  <p>{{ site.description }}</p>

  <h2>Latest Posts</h2>

  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  <h2>Projects</h2>

  <ul class="project-list">
    {% for project in site.projects %}
      <li>
        <h3>
          <a class="project-link" href="{{ project.url | relative_url }}">{{ project.title | escape }}</a>
        </h3>
        {{ project.excerpt }}
      </li>
    {% endfor %}
  </ul>
</div>
